<div class="row projects align-items-center">
  <div class="col-12 text-center" id="projects">
    <h3 class="mt-3">Projects</h3>
  </div>
  {{project-card
    pageLink='https://dinner-made-easy.herokuapp.com/#/'
    imgSrc='/assets/images/DinnerMadeEasy.PNG'
    title='Dinner Made Easy'}}

  {{project-card 
    pageLink='https://list-keeper.herokuapp.com/#/' 
    imgSrc='/assets/images/Kanban.PNG' 
    title='Kanban'}}

  {{project-card
    pageLink='https://katrinafuller.github.io/Inspire/'
    imgSrc='/assets/images/Inspire.PNG'
    title='Inspire'}}

  {{project-card
    pageLink='https://github.com/KatrinaFuller/ConsoleAdventure'
    imgSrc='/assets/images/ConsoleAdventure.PNG'
    title='Console Adventure'}}

  {{project-card
    pageLink='https://katrinafuller.github.io/TaskMaster/'
    imgSrc='/assets/images/TaskMaster.PNG'
    title='Task Master'}}

  {{project-card
    pageLink='https://katrinafuller.github.io/tip-calculator/'
    imgSrc='/assets/images/TipCalculator.PNG'
    title='Tip Calculator'}}

</div>


{{yield}}